.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0rem;

  &__logo {
    width: 10rem;

    @media screen and (min-width: $laptop-screen) {
      margin-left: 3rem;
    }

    & img {
      width: 100%;
    }
  }
}

.btn {
  font-family: $primary-font;
  background-color: $white;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: fixed;
  font-size: 1.2rem;
  top: 5rem;
  right: 2rem;
  border: 2px solid $primary-color;

  @media screen and (min-width: $tablet-screen) {
    font-size: 1.8rem;
    right: 3rem;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    background-color: $primary-color;
    color: $white;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}
