.introduction {
  margin-top: -1.7rem;
  background-color: $primary-color;
  color: $white;
  padding: 3rem;
  height: 75vh;

  @media only screen and (min-width: $tablet-screen) {
    height: 50vh;
  }

  @media screen and (min-width: $laptop-screen) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: $primary-font;
    font-size: 2.4rem;
    padding: 1rem;
    text-align: center;

    @media screen and (min-width: $laptop-screen) {
      margin: 0 auto;
      font-size: 3.2rem;
      width: 60%;
    }
    @media screen and (min-width: $desktop-screen) {
      width: 30%;
    }
  }
  &__description {
    font-family: $secondary-font;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    line-height: 2.9rem;

    @media screen and (min-width: $laptop-screen) {
      width: 60%;
      margin: 0 auto;
      font-size: 2rem;
    }

    @media screen and (min-width: $desktop-screen) {
      width: 45%;
    }
  }
}

.columns {
  display: flex;
  flex-direction: column;
  margin-top: -14rem;
  padding: 3rem;

  @media screen and (min-width: $laptop-screen) {
    margin-top: -10rem;
    flex-direction: row;
    justify-content: center;
  }

  .column {
    background-color: $white;
    border-radius: 3%;
    margin-bottom: 2rem;
    border: 0.5px solid black;
    padding: 5rem 3rem;

    @media screen and (min-width: $laptop-screen) {
      border-radius: 0;
      max-width: 40rem;
    }

    &__primary {
      margin-bottom: 1rem;
      font-size: 2.4rem;
      margin: 2.4rem 0rem;
    }
    &__secondary {
      color: $fith-color;
      font-family: $primary-font;
    }

    li {
      text-align: center;
      font-family: $secondary-font;

      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }
}

.image {
  margin: 0 auto 2rem;
  width: auto;

  .skill-icon {
    height: 4.8rem;
    display: inline-block;
    filter: invert(77%) sepia(91%) saturate(4385%) hue-rotate(336deg)
      brightness(99%) contrast(91%);

    @media screen and (min-width: $laptop-screen) {
      display: block;
    }
  }
}
