.projects {
  padding: 3rem;

  &__title {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    margin: 2.4rem 0rem;
  }

  &__description {
    margin-bottom: 2rem;
  }

  .project {
    display: flex;
    flex-direction: column;

    &__title {
      padding: 5rem;

      &:hover {
        color: black;
        transition: all 0.8s;
      }
    }

    &--1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($nexter-primary, 0.8),
        rgba($nexter-secondary, 0.8)
      );

      border: 1px solid black;
      border-radius: 1%;
      margin-bottom: 2rem;

      &:hover {
        transition: all 0.5s;
        background-color: black;
      }
    }
    &--2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($recipe-primary, 0.8),
        rgba($recipe-secondary, 0.8)
      );
      border: 1px solid black;
      border-radius: 1%;
      margin-bottom: 2rem;
      &:hover {
        transition: all 0.5s;
        background-color: black;
      }
    }
    &--3 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($trillo-primary, 0.8),
        rgba($white, 0.8)
      );
      border: 1px solid black;
      border-radius: 1%;
      margin-bottom: 2rem;
      &:hover {
        transition: all 0.5s;
        background-color: black;
      }
    }
    &--4 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($natours-primary, 0.8),
        rgba($natours-secondary, 0.8)
      );
      border: 1px solid black;
      border-radius: 1%;
      margin-bottom: 2rem;
      &:hover {
        transition: all 0.5s;
        background-color: black;
      }
    }
    &--5 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($portofolio-primary, 0.8),
        rgba($portofolio-secondary, 0.8)
      );
      border: 1px solid black;
      border-radius: 1%;
      margin-bottom: 2rem;
      &:hover {
        transition: all 0.5s;
        background-color: black;
      }
    }
  }
}
