//Fonts
$primary-font: "Rubik", sans-serif; //font weight 300
$secondary-font: "Karla", sans-serif; //font weight 500

//Colors
$primary-color: #131422;
$secondary-color: #04a4ad;
$tertiary-color: #d8ebbd;
$quaternary-color: #f09435;
$fith-color: #cd3d4f;
$white: #fff;

//Project COLORS

$nexter-primary: #c69963;
$nexter-secondary: #101d2c;

$recipe-primary: #f38e82;
$recipe-secondary: #fbdb89;

$trillo-primary: #eb2f64;
$trillo-secondary: #ba265d;

$natours-primary: #28b485;
$natours-secondary: #ff7730;

$portofolio-primary: #1e9d9d;
$portofolio-secondary: #ffffff;
//Screen Width
$phone-screen: 360px;
$tablet-screen: 768px;
$laptop-screen: 1366px;
$desktop-screen: 1920px;
